<h5 *ngIf="user.administrador && (knowledges == null || knowledges.length == 0)">El usuario no posee conocimientos</h5>
<div class="gl__wrapper ">
  <div class="card" *ngIf="user && !user.administrador && getTecnologies().length > 0">
    <div class="card__flip" [ngClass]="{'card__flip--flipped': isNewFlipped}">
      <a class="card__add card__add__first" (click)="flipCard()" *ngIf="!isFlipped">
        <h3 class="card__title">Agregar Conocimiento</h3>
        <div class="card__add__plus"><i class="fa fa-plus fa-3x btn btn-outline-primary"></i></div>
      </a>
      <div class="card__data" *ngIf="isNewFlipped">
        <div class="card__data__content">
          <div class="card__data__content__wrapper">

            <div class="card__data__actions">
              <p class="card__data__actions__title">Tecnología</p>
              <div class="card__data__actions__wrapper">
                <select name="tecnologias" (change)="onChangeTecnologia($event.target.value)">                  
                  <option [value]="undefined" disabled hidden>Seleccione un conocimiento...</option>
                  <option [value]="item.nombre" *ngFor="let item of getTecnologies()">{{item.nombre}}</option>
                </select>
              </div>
            </div>

            <div class="card__data__actions">
              <p class="card__data__actions__title">Nivel</p>
              <div class="card__data__actions__wrapper">
                <app-rating [rating]='0' [itemId]='idNewCard' (ratingClick)='ratingAddClick($event)' [readOnly]="user.administrador"></app-rating>
              </div>
            </div>
  
            <div class="sep__error ic-close">
              <p [hidden]="errorMsg == null">{{ errorMsg }}</p>
            </div>            
          </div>
          <div class="card__data__content__btns">
            <a class="card__data__content__btns__link" (click)="flipCard()">
              <div class="row">
                <div class="col text-center">
                  <button type="button" title="Cancelar" class="btn btn-outline-primary"><i class="fa fa-times"></i></button>
                </div>
              </div>
            </a>

            <a class="card__data__content__btns__link" (click)="saveCard()">
              <div class="row">
                <div class="col text-center">
                  <button type="button" title="Guardar" class="btn btn-outline-primary"><i class="fa fa-save"></i></button>
                </div>
              </div>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="card" *ngFor="let know of knowledges, let i = index">
    <div class="card__flip" [ngClass]="{'card__flip--flipped': know.flipped}">
      <a class="card__add">
        <div class="card__static">
          <h3 class="card__title">{{know.conocimiento.nombre}}</h3>
          <p class="card__static__text">Nivel</p>
          <div class="card__data__actions">
            <div class="card__data__actions__wrapper">
              <div id="divRanking">
                <app-rating [rating]='know.nivel' [itemId]='know.id' (ratingClick)='ratingEditClick($event)' [readOnly]="user.administrador">
                </app-rating>
              </div>
            </div>
          </div>
          <div class="card__static__edit" *ngIf="know['EDITAR'] === 'true' && !isFlipped && !isNewFlipped">
            <a (click)="flipCard(i)" class="ic-edit"></a>
            <a *ngIf="know['ELIMINAR'] === 'true'" class="ic-delete" (click)="deleteModal(i)"></a>
          </div>

          <div class="card__data__content__btns" [hidden]="user && user.administrador">
            <a class="card__data__content__btns__linkDelete" (click)="deleteModal(know)">
              <div class="row" *ngIf="user && !user.administrador">
                <div class="col text-center">
                  <button type="button" title="Eliminar" class="btn btn-outline-primary"><i class="fa fa-trash"></i></button>
                </div>
              </div>
            </a>
          </div>
        </div>
      </a>
    </div>
  </div>
</div>