<script src="../../../../node_modules/chart.js/chart"></script>

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12">
        </div>
    </div>
    <div class="row content">
        <div class="col-lg-12" *ngIf="barChartData.length > 0">

            <canvas baseChart [datasets]="barChartData" 
                    [labels]="barChartLabels" 
                    options="{
                                scales: {
                                    yAxes: [{
                                        ticks: {           
                                            beginAtZero: true,                             
                                            min: 0,
                                            max: 5,
                                            stepSize: 1,  
                                        }
                                    }],
                                }
                            }" [legend]="barChartLegend" [chartType]="barChartType"
                (chartHover)="chartHovered($event)" (chartClick)="chartClicked($event)">
            </canvas>

        </div>
    </div>
</div>