
<section class="gl">
  <flip-card [knowledges]="knowledges" (objEmit)="receivedOutput($event)"></flip-card>

  <!-- <div class="rfc-modal" [ngClass]="{'rfc-modal--show': showModal}">
    <div class="rfc-modal__content">
      <a class="rfc-modal__content__close ic-modal-close" (click)="showModal = false;"></a>
      <p class="rfc-modal__content__text">¿Estás seguro que quieres eliminar al integrante seleccionado?</p>
      <div class="rfc-modal__content__btn">
        <a class="rfc-modal__content__btn__link" (click)="deleteInsured()">Confirmar</a>
      </div>
    </div>
  </div> -->
</section>