
<section class="gl">
  <flip-card 
    [knowledges]="knowledges" 
     (changeKnowEmitter)="changeKnow($event)"
     (deleteKnowEmitter)="showModalDelete($event)">
  </flip-card>
</section>

<div class="rfc-modal" *ngIf="showModal">
  <div class="rfc-modal__content">
    <a class="rfc-modal__content__close" (click)="showModal = false;">  <i class="fa fa-close"></i></a>
    <p class="rfc-modal__content__text">¿Estás seguro que quieres eliminar al conocimiento?</p>
    <div class="rfc-modal__content__btn">
      <a class="rfc-modal__content__btn__link" (click)="removeCard()">Confirmar</a>
    </div>
  </div>
</div>
