:root {
  --primary-font: 'FS Joey', sans-serif;
  --secondary-font: 'Barlow', sans-serif;
  --blue: #0055A0;
  --focus: #31A1D3;
  --background: #f9f9fb;
  --title: #0558A1;
  --description: #9b9bb4;
  --label: #65698A;
  --placeholder: #DCDCE9;
  --input: #65698A;
  --input-border: #DCDCE9;
  --input-auto: #B4B4D3;
  --input-auto-hover: #f7f7f7;
  --input-auto-hover-link: #65698A;
  --radio: #128CE1;
  --radio-text: #B4B4D3;
  --radio-border: #b4b4d3;
  --link: #65698A;
  --error: #F9706E;
  --success: #3CCF8E;
  --insurance-title: #B4B4D3;
  --btn: #DCDCE9;
  --btn-active: #128CE1;
  --boxes-title: #014C8F;
  --boxes-description: #9B9BB4;
  --boxes-box: #B4B4D3;
  --boxes-box-active: #128CE1;
  --boxes-box-hover: #0055A0;
  --sidebar: #014C8F;
  --sidebar-info: #DCDCE9;
  --sidebar-arrow: #128CE1;
  --sidebar-black: #262626;
  --sidebar-content: #0055A0;
  --sidebar-content-border: #31A1D3;
  --sidebar-text: #fff;
  --sidebar-download: #128CE1;
  --sidebar-list-active: #128CE1;
  --sidebar-description: #6597c5;
  --toggle: #C4C4C4;
  --toggle-active: #128CE1;
  --download: #F9F9FB;
  --download-link-disabled: #DCDCE9;
  --download-link-active: #128CE1;
  --slider: #dcdce9;
  --slider-dot: #0055A0;
  --slider-active: #128CE1;
  --slider-total: #128CE1;
  --slider-title: #b4b4d3;
  --period: #BBBBD6;
  --period-active: #65698A;
  --checkbox: #9B9BB4;
  --postal-modal-btn-disabled: #DCDCE9;
  --postal-modal-btn: #128CE1;
  --coverage-title: #B4B4D3;
  --coverage-description: #65698A;
  --coverage-active: #128CE1;
  --coverage-prize: #0055A0;
  --coverage-prize-type: #B4B4D3;
  --coverage-hover: #0055A0;
  --location-number: #0055A0;
  --location-border: #DCDCE9;
  --location-text: #65698A;
  --location-add: #128CE1;
  --tooltip-border: #DCDCE9;
  --tooltip-title: #B4B4D3;
  --tooltip-description: #65698A;
  --max-title: #B4B4D3;
  --max-number: #DCDCE9;
  --max-number-active: #128CE1;
  --max-number-select: #9B9BB4;
  --max-dot: #0055A0;
  --preferential-text: #9B9BB4;
  --preferential-text-border: #DCDCE9;
  --rfc-modal-text: #65698A;
  --rfc-modal-link: #128CE1;
  --home-hogar: #003C71;
  --home-hogar-title: #65698A;
  --home-hogar-description: #65698A; 
  --home-hogar-grey: #F9F9FB;
  --home-hogar-ft: #003C71;
  --home-hogar-faqs-border: #B4B4D3;
  --home-hogar-faqs-title: #65698A;
  --home-hogar-faqs-description: #9B9BB4;
  --home-hogar-cover-title: #128CE1;
  --home-hogar-cover-description: #9B9BB4;
  --home-hogar-plan-list: #BBBBD6;
  --home-hogar-plan-list-active: #65698A;
  --home-hogar-plan-description: #65698A;
}