.home-herospace {
  position: relative;
  min-height: 100vh;
  padding: 0 30px;
  background: var(--home-hogar) url('/assets/images/hogar/herospace-small.jpg') 0 0 no-repeat;
  background-size: 100%;
  display: flex;
  align-items: flex-end;

  @include breakpoint('medium') {
    background: var(--home-hogar) url('/assets/images/hogar/herospace.jpg') 0 0 no-repeat;
    background-size: contain;
    min-height: 90vh;
  }

  @include breakpoint('large') {
    align-items: flex-start;
    padding: 180px 30px 0;
    background: linear-gradient(90deg, #003C71 39em, transparent 39em), url('/assets/images/hogar/herospace.jpg');
    background-size: cover;
    background-position: left center, 23em center;
    min-height: 100vh;
  }

  &:before {
    color: #65698A;
    position: absolute;
    left: 50%;
    bottom: 15px;
    transform: translateX(-50%);
    font-size: 25px;
    z-index: 1;
  }

  &:after {
    display: block;
    content: '';
    position: absolute;
    bottom: 0;
    left: 30px;
    background: var(--home-hogar-grey);
    width: calc(100% - 60px);
    height: 60px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;

    @include breakpoint('medium') {
      bottom: -2px;
    }

    @include breakpoint('large') {
      left: 70px;
      bottom: 0;
      width: calc(100% - 140px);
    }
  }

  &__data {
    background: #fff;
    padding: 35px 25px;
    border-radius: 10px;
    margin: 0 0 120px 0;
    
    @include breakpoint('small') {
      margin-top: 150px;
    }

    @include breakpoint('medium') {
      margin: 0 30px 120px;
      width: 100%;
      padding: 40px;
    }

    @include breakpoint('large') {
      padding: 60px 50px 50px;
      margin: 0 40px 120px;
      width: 640px;
    }

    &__title {
      font-weight: 300;
      font-size: 32px;
      line-height: 40px;
      color: #0055A0;

      @include breakpoint('medium') {
        font-size: 53px;
        line-height: 63px;
      }

      strong {
        font-weight: 500;
      }
    }

    &__description {
      padding: 20px 0 40px;
      font-weight: 300;
      font-size: 14px;
      line-height: 22px;
      color: #65698A;

      @include breakpoint('medium') {
        padding: 30px 0 70px;
        font-size: 18px;
        line-height: 24px;
      }

      @include breakpoint('large') {
        padding: 20px 0 30px;
      }

      span {
        @include breakpoint('large') {
          display: block;
        }
      }
    }

    &__btn {
      &__link {
        align-items: center;
        border-radius: 20px;
        border: 1px solid var(--blue);
        color: var(--blue);
        cursor: pointer;
        font-family: var(--secondary-font);
        font-size: 12px;
        font-weight: 600;
        height: 40px;
        letter-spacing: 2px;
        text-transform: uppercase;
        display: flex;
        justify-content: center;

        @include breakpoint('medium') {
          display: inline-flex;
          padding: 0 50px;
          border-width: 2px;
          height: 50px;
          border-radius: 25px;
        }
  
        @include breakpoint('large') {
          transition: all 0.3s ease-in-out;
        }

        &:hover {
          background: var(--blue);
          color: #fff;
        }
      }
    }
  }
}