<head>
    <title>Table V03</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--===============================================================================================-->
    <link rel="icon" type="image/png" href="table/images/icons/favicon.ico" />
    <!--===============================================================================================-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>

<body>

    <h1>Hola {{currentUser.apellido}}, {{currentUser.nombre}}!</h1>
    <div class="limiter" *ngIf="currentUser.administrador && users">
        <div class="container-table100">
            <div class="wrap-table100">
                <h3>Usuarios registrados:</h3>
                <input class="form-control" id="inpFiler" type="text" placeholder="Search.." (keyup)="filter($event.target.value)">
                <div class="table100 ver1 m-b-25">
                    <table data-vertable="ver1" id="usersTable">
                        <thead>
                            <tr class="row100 head">
                                <th class="column100 column1" data-column="column1">Usuario</th>
                                <th class="column100 column1" data-column="column2">Nombre</th>
                                <th class="column100 column1" data-column="column3">Apellido</th>
                                <th class="column100 thAngosto" data-column="column4">Edad</th>
                                <th class="column100 column1" data-column="column5">Cargo</th>
                                <th class="column100 thAngosto" data-column="column6">Recurso</th>
                                <th class="column100 thBtn" data-column="column7"></th>
                                <th class="column100 thBtn" data-column="column8"></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="row100" *ngFor="let user of users">
                                <td class="column100 column1" data-column="column1">{{ user.nombreUsuario }}</td>
                                <td class="column100 column2" data-column="column2">{{ user.nombre }}</td>
                                <td class="column100 column3" data-column="column3">{{ user.apellido }}</td>
                                <td class="column100 column4" data-column="column4">{{ user.edad }}</td>
                                <td class="column100 column5" data-column="column5">{{ user.cargo }}</td>
                                <td class="column100 column6" data-column="column6">{{ user.codRecurso }}</td>
                                <td class="columnBtn column7" data-column="column7">
                                    <button type="button" title="Ver conocimientos" class="btn btn-outline-primary"
                                        (click)="verConocimientos(user.id)"><i class="fa fa-book"></i></button>

                                </td>
                                <td class="columnBtn column8" data-column="column8">
                                    <div class="text-center">
                                        <button type="button" title="Eliminar" class="btn btn-outline-primary"
                                            (click)="deleteModal(user.id)"><i class="fa fa-trash"></i></button>
                                    </div>

                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>


    <!--===============================================================================================-->
    <script src="vendor/jquery/jquery-3.2.1.min.js"></script>
    <!--===============================================================================================-->
    <script src="vendor/bootstrap/js/popper.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.min.js"></script>
    <!--===============================================================================================-->
    <script src="vendor/select2/select2.min.js"></script>
    <!--===============================================================================================-->
    <script src="js/main.js"></script>

    <div class="rfc-modal" *ngIf="showModal">
        <div class="rfc-modal__content">
            <a class="rfc-modal__content__close" (click)="showModal = false;"> <i class="fa fa-close"></i></a>
            <p class="rfc-modal__content__text">¿Estás seguro que quieres eliminar al usuario?</p>
            <div class="rfc-modal__content__btn">
                <a class="rfc-modal__content__btn__link" (click)="deleteUser()">Confirmar</a>
            </div>
        </div>
    </div>